<h1>Hello World from index</h1>


    <%= link_to("Please Click to Hello", {:controller => 'demo', :action => 'hello'}) %>

<br \>

    <%= link_to("Please Click to Hello with Params", {:controller => 'demo',:action => 'hello', :page => 5, :id => 20}) %>